#AboutM {
    margin-left: 4rem;
    padding-bottom: 1rem;
}

#AboutP {
    margin-left: 4rem;
    font-size: 20px;
    margin-top: 2rem;
    margin-right: 6rem;
    text-align: center;
}

img {
    width: 12%;
    height: auto;
    margin-left: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}